@import "vars.module.scss";

#hero {
  width: 100%;
  max-width: 154.4rem;
  margin: 0 auto;

  padding-top: 9.6rem;
  text-align: center;

  position: relative;
  width: 100%;
  height: 100vh;

  h1 {
    padding-bottom: 0.25em;
  }

  h3 span {
    color: $clr-primary;
  }

  button {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: 0.4rem solid $clr-primary;
    border-radius: 0.4rem;

    margin-top: 12rem;
    padding: 1.6rem;
    font-size: 2.8rem;

    color: $clr-light;
    transition: 0.3s ease;

    &:hover {
      transform: translateY(0.8rem);
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
