@import "vars.module.scss";

#nav {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.4rem;
  background: darken($clr-primary, 36);

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1.2rem;

    .nav-item {
      display: inline;
      justify-self: center;
      align-self: center;
      width: fit-content;

      .nav-link {
        display: inline-block;
        font-size: 1.6rem;
        padding: 0 0rem;
        width: 100%;
        text-align: center;
        padding: 0 1.6rem;

        transition: 0.3s all;

        &:hover {
          color: darken($clr-primary, 10);
        }

        svg {
          display: block;
          font-size: 2.1rem;
          margin: 0 auto;
        }
      }

      .active {
        font-weight: 700;
        color: $clr-primary;
      }
    }
  }
}

.btn {
  display: none;
}

@media screen and (min-width: 48em) {
  #nav {
    position: relative;
    background-color: transparent;
    height: auto;

    ul {
      display: block;
      padding: 0;

      .nav-item {
        width: auto;

        .nav-link {
          font-size: 2.1rem;
          width: auto;
          transition: 0.3s ease;

          &:hover {
            color: darken($clr-primary, 10);
          }

          &:active {
            color: darken($clr-primary, 20);
          }

          svg {
            display: none;
          }
        }
        .active {
          color: $clr-primary;
        }
      }
    }
  }

  .btn {
    display: inline-block;
    background-color: transparent;
    border: 4px solid $clr-primary;
    border-radius: 0.4rem;
    padding: 1.2rem 2.8rem;
    margin: 0 0.8rem;

    color: $clr-light;
    font-size: 2.1rem;
    font-weight: 700;
    font-family: "Ubuntu Mono", monospace;
    transition: 0.3s all;

    &:hover {
      background-color: darken($clr-primary, 10);
      border-color: darken($clr-primary, 10);
      color: darken($clr-light, 10);
    }

    &:active {
      transition: 0.2s all;
      background-color: darken($clr-primary, 20);
      border-color: darken($clr-primary, 20);
    }

    &.btn-solid {
      background-color: $clr-primary;
      border-color: $clr-primary;
      color: $clr-light;

      &:hover {
        background-color: transparent;
        border-color: darken($clr-primary, 10);
        color: darken($clr-light, 10);
      }

      &:active {
        border-color: darken($clr-primary, 20);
        color: darken($clr-light, 20);
      }
    }
  }
}

@media screen and (min-width: 55em) {
  #nav ul .nav-item {
    margin-right: 3.2rem;
  }
}

@media screen and (min-width: 70em) {
  #nav {
    ul .nav-item {
      margin-right: 7.2rem;
      .nav-link {
        font-size: 2.4rem;
      }
    }
  }
  .btn {
    font-size: 2.4rem;
    margin: 0 1.6rem;
  }
}
