$clr-dark: #262626;
$clr-light: #fff;
$clr-primary: #03daa9;

$fs-root: 62.5%;

// Mobile
$fs-sm-h1: 3.6rem;
$fs-sm-h2: 2.8rem;
$fs-sm-h3: 2.1rem;
$fs-sm-h4: 1.8rem;
$fs-sm-p: 1.4rem;

// Tablet
$fs-md-h1: 5.2rem;
$fs-md-h2: 3.2rem;
$fs-md-h3: 2.4rem;
$fs-md-h4: 2.1rem;
$fs-md-p: 1.6rem;

// Desktop
$fs-h1: 9.6rem;
$fs-h2: 6.4rem;
$fs-h3: 3.6rem;
$fs-h4: 2.4rem;
$fs-p: 1.6rem;
