#work {
  min-height: 90vh;

  h2 {
    text-align: center;
    padding-bottom: 1em;
  }

  .cards {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    padding-bottom: 3.2rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 48em) {
  #work h2 {
    padding: 1em;
  }
}

@media screen and (min-width: 55em) {
  #work .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 84em) {
  #work .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
